.step {
  color: #fff;
  font-size: 28px;
}

.step-number {
  border-radius: 50%;
  display: inline-block;
  width: 34px;
  height: 34px;
  padding: 4px;
  background: transparent;
  border: 1px solid $font-logo-color;
  font-size: 15px;
  color: $font-logo-color;
  text-align: center;
}

.step-title {
  display: inline-block;
}

.textfield {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  &__label {
    position: absolute;
    top: 12px;
    left: 15px;
    display: block;
    font-size: 16px;
    line-height: 24px;
    color: rgb(190, 190, 190);
    user-select: none;
    cursor: text;
    &__required {
      &::after {
        position: relative;
        top: -3px;
        left: 1px;
        display: inline-block;
        content: "*";
        color: #d0011b;
      }
    }
  }
  &__input {
    display: block;
    box-sizing: border-box;
    height: 48px;
    background: transparent;
    font-weight: 400;
    line-height: 24px;
    outline: none;
    border: 2px solid rgb(190, 190, 190);
    border-radius: 10px;
    padding: 13px 15px;
    font-size: 14px;
    color: #fff;
    width: 100%;
    transition: .6s all ease;
  
    &:focus {
      border: 2px solid $font-logo-color;
      outline: none;
    }
    &:disabled {
      border-color: #e6e6e6;
      background: #f9fafb;
    }
    &::placeholder {
      color: transparent;
    }
  }
  &__input:focus + &__label,
  &__input:disabled + &__label {
    display: none;
  }
}

.order {
  background-color: #fff;
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);
  width: 100%;
  height: 80%;
  color: $body-bg;
  font-weight: bold;
  font-size: 28px;
  border-radius: 10px;
}
.order-product{
  color: rgb(190, 190, 190);
  font-size: 14px;
}