.navbar-brand {
  font-family: $font-logo;
  color: $font-logo-color !important;
  font-size: 30px;
}

.nav-item {
  font-size: 16px;
  font-family: 'Bungee';
  color: #fff;
  margin: 0 2.6em;
}

.hamburger-lines {
  position: absolute;
  right: 10px;
  height: 26px;
  width: 32px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hamburger-lines:hover {
  cursor: pointer;
}

.line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: $font-logo-color;
}
.line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}
.line2 {
  transition: transform 0.2s ease-in-out;
}
.line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

@media only screen and (max-width: 991px) {
  .header {
    background-color: $body-bg;
  }
}
